main
    .container-fluid
        .content-container
            h1.text-left
            if !loggedIn
                form(action="/api/login" method="POST" )
                    .panel.panel-default
                        .panel-heading.text-center Log In
                        .panel-body.text-center
                            .row
                                .col-sm-6
                                    label Username:
                                    br
                                    input#email(type="username" name="username" title="")
                                .col-sm-6
                                    label Password:
                                    br
                                    input#password(type="password" name="password" title="")
                        .panel-footer
                            .col-xs-6.text-left
                                if !status
                                    #{status}
                                else
                                    span ...
                            .col-xs-6.text-right
                                input.btn.btn-default.text-right(type="submit" value="Submit")
            else
                .content-container.content-box
                    .col-s-3.col-sm-offset-3
                        pre Title:          #{title}
                        pre Name:           #{firstName} #{lastName}
                        pre DoB:            #{doB}
                        br
                        pre Username:       #{username}
                        pre Email Address   #{emailAddress}
                        br
                        pre Privileges:     #{role}
                        pre Created:        #{created}


