main
    .container-fluid
        .content-container
            if !loggedIn
                form(action="/api/login" method="POST" )
                    .panel.panel-default
                        .panel-heading.text-center.textmuted Log In
                        .panel-body.text-center
                            .row
                                .col-sm-6
                                    label Username:
                                    br
                                    input#email(type="username" name="username" title="" autofocus required)
                                .col-sm-6
                                    label Password:
                                    br
                                    input#password(type="password" name="password" title="" required)
                            if status != 'Success!'
                                span.text-danger #{status}
                        .panel-footer
                            .row
                                .col-xs-6.text-left
                                    input(type="checkbox" name="remember")
                                    span &nbspRemember?
                                .col-xs-6.text-right
                                    input.btn.btn-default(type="submit" value="Submit")
            else
                .row.text-center
                    span.text-success #{status}
                .row.text-left
                    .col-sm-12
                        span To your&nbsp;
                            a(href="u/#{username}") profile
                .row
                    form(action="/api/edit/user" method="POST" )
                        .col-xs-3.user-label
                            .row
                                label Title:&nbsp;
                            .row
                                label First Name:
                            .row
                                label Last Name:
                            .row
                                label DoB:
                            .row
                                label Username:
                            .row
                                label Email Address
                            .row
                                label Privileges:
                            .row
                                label Created:
                        .col-xs-9.user-info
                            .row
                                input.norm-toggle(value="#{title}" disabled required)
                            .row
                                input.norm-toggle(value="#{firstName}" disabled required)
                            .row
                                input.norm-toggle(value="#{lastName}" disabled required)
                            .row
                                input.norm-toggle(value="#{doB}" disabled required)
                            .row
                                input.norm-toggle(value="#{username}" disabled required)
                            .row
                                input.mod-toggle(value="#{emailAddress}" disabled required)
                            .row
                                input.ad-toggle(value="#{role}" disabled required)
                            .row
                                input(value="#{created}" disabled)
                .row.text-center
                    .col-sm-2.pen-icon
                        a(onclick="toggleDisable('#{role}')")#edit-user.fa.fa-2x.fa-check.fa-edit