main
    .container-fluid
        .content-container
            if !loggedIn
                form(action="/api/login" method="POST" )
                    .panel.panel-default
                        .panel-heading.text-center.textmuted Log In
                        .panel-body.text-center
                            .row
                                .col-sm-6
                                    label Username:
                                    br
                                    input#email(type="username" name="username" title="" autofocus required)
                                .col-sm-6
                                    label Password:
                                    br
                                    input#password(type="password" name="password" title="" required)
                            if status != 'Success'
                                span.text-danger #{status}
                        .panel-footer.text-right
                            input.btn.btn-default(type="submit" value="Submit")
            else
                .content-container
                    .row
                        .col-xs-1
                                label Title:&nbsp;
                                br
                                label Name:
                                br
                                label DoB:
                                br
                                label Username:
                                br
                                label Email Address
                                br
                                label Privileges:
                                br
                                label Created:
                        .col-xs-1.user-info
                            input#userTitle(value="#{title}" disabled)
                            input(value="#{firstName} #{lastName}" disabled)
                            input(value="#{doB}" disabled)
                            input(value="#{username}" disabled)
                            input(value="#{emailAddress}" disabled)
                            input(value="#{role}" disabled)
                            input(value="#{created}" disabled)
                            //todo tooltip for wrong password / user
                        .col-xs-1.pen-icon
                            a(onclick="toggleDisable('#userTitle')").fa.fa-edit
                            br
                            a.fa.fa-edit
                            br
                            a.fa.fa-edit
                            br
                            a.fa.fa-edit
                            br
                            a.fa.fa-edit
                            br
                            a.fa.fa-lock
                            br
                            a.fa.fa-lock
                            br