main
    .container-fluid
        .content-container
            if !loggedIn
                form(action="/api/login" method="POST" )
                    .panel.panel-default
                        .panel-heading.text-center.textmuted Log In
                        .panel-body.text-center
                            .row
                                .col-sm-6
                                    label Username:
                                    br
                                    input#email(type="username" name="username" title="" autofocus required)
                                .col-sm-6
                                    label Password:
                                    br
                                    input#password(type="password" name="password" title="" required)
                            if status != 'Success'
                                span.text-danger #{status}
                        .panel-footer.text-right
                            input.btn.btn-default(type="submit" value="Submit")
            else
                .content-container.content-box
                    .col-sm-6.col-sm-offset-3
                        pre Title:          #{title}
                        pre Name:           #{firstName} #{lastName}
                        pre DoB:            #{doB}
                        br
                        pre Username:       #{username}
                        pre Email Address   #{emailAddress}
                        br
                        pre Privileges:     #{role}
                        pre Created:        #{created}
                        //todo tooltip for wrong password / user

